@import '../variables';

.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;

  fieldset {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &.invalid {
      border-color: red;
    }
  }

  legend {
    padding: 0 5px;
  }
}

.form__control {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    margin-bottom: 5px;
    padding-left: 16px;
  }

  input {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;

    &:hover,
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  &--invalid {
    input {
      border-color: red;
    }
  }
}

.form__control--search {
  & > svg {
    position: absolute;
    left: 12px;
    top: 12px;
    opacity: 0.5;
  }

  input {
    padding-left: 40px;
    padding-right: 40px;
  }

  button[type='reset'] {
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0.5;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.form__actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: 16px;

  a {
    color: $blue;
    font-weight: 600;
    transition: opacity $trans-300;

    &:hover {
      opacity: 0.7;
    }
  }
}

.form__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  input {
    margin-right: 10px;
  }
}
